// Primary
$moderate_blue: hsl(238, 40%, 52%);
$soft_red: hsl(358, 79%, 66%);
$light_grayish_blue: hsl(239, 57%, 85%);
$pale_red: hsl(357, 100%, 86%);

// Neutral
$dark_blue: hsl(212, 24%, 26%);
$grayish_Blue: hsl(211, 10%, 45%);
$light_gray: hsl(223, 19%, 93%);
$very_light_gray: hsl(228, 33%, 93%);
$white: hsl(0, 0%, 100%);

$borderRadius: 8px;
$padding: 16px;
$headHeight: 40px;