@import 'vars';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
  font-size: 1.6rem;
}

html{
  font-size: 62.5%;
}
body{
  display: flex;
  justify-content: center;
  background-color: $very_light_gray;
}

.app{
  min-height: 100vh;
  padding: 14px 16px 30px;
  padding-bottom: 200px;

  @media (min-width: 425px) {
    width: 425px;
  }
}

@import 'comment';
@import 'input';
@import 'animations';